/*header*/
h1 {
    text-align: center;
    background-color: rgb(34, 46, 214);
    color: white;
    flex-wrap: wrap;
}

.badUv {
    background-color: lightcoral;
}
.goodUv {
    background-color: lightgreen;
}