/*header*/
h1 {
    text-align: center;
    background-color: rgb(34, 46, 214);
    color: white;
    flex-wrap: wrap;
}
main {
    display: flex;
}

.bad-uv {
    background-color: darkred;
}
.medium-uv {
    background-color: lightcoral;
}
.good-uv {
    background-color: lightgreen;
}